@model IEnumerable<MVCDemo.Models.KhachHangModel>

@{
    ViewBag.Title = "Danh sách khách hàng hiện có trong database";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách khách hàng</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaKhachHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoVaTen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaKhachHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoVaTen)
        </td>

    </tr>
}

</table>
